.product {
    &-list {
    margin-top: 5rem;
    }

    &-wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    }
}

.product-container {
    width: 20%;
    padding: 2%;
    border: solid 1px #e5e5e5;
    margin: 2%;
    display: flex;
    flex-direction: column;
}